body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
main {
    height: 100vh;
    width: 100vw;
    overflow:hidden;
}
 
 h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    text-align: center;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    color:black;
}

h2 {
    font-size: 15px;
    padding-left: 2em;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}
 
 p { 
    color:white;
    font-size: 8vw;
    width: calc(50vw - 1.5em);
    height: auto;
    text-align:left;
    margin-left: 0.75em;
    margin-right: 0.75em;
    /* margin-top: 0;  */
}



 img {
    height: 50px;
    width:auto;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


main ul:first-of-type {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    width: 100vw;
    height: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding-inline-start: 1em;


}

main ul:first-of-type li {
    scroll-snap-align: start;
    width: 100%;
    height: 100%;
    padding-top: 5em;
    list-style-type: none;
 
}

main ul:first-of-type li:nth-of-type(1n) {
    background-image:url(img/joel-filipe-KZa4fREZoKk-unsplash.jpg) ;
    
    
}
main ul:first-of-type li:nth-of-type(2n) {
    background-image:url(img/kevin-borrill-7_N1zLrY7ns-unsplash.jpg);
}

main ul:first-of-type li:nth-of-type(3n) {
    background-image:url(img/maria-orlova-Q3Ea7QQQ6MA-unsplash.jpg);
}

main ul:first-of-type li:nth-of-type(4n) {
    background-image:url(img/matthew-mcbrayer-qD9xzm7yK9U-unsplash.jpg);
}
main ul:first-of-type li:nth-of-type(5n) {
    background-image:url(img/max-saeling-m8nRxnGFWVc-unsplash.jpg);
}

 /* main ul:first-of-type li:first-of-type { 
    background-color: rgb(129, 129, 228);
}

main ul:first-of-type li:nth-of-type(2) {
    background-color: rgb(36, 36, 128);
}

main ul:first-of-type li:nth-of-type(3) {
    background-color: rgb(161, 233, 173);
}

main ul:first-of-type li:nth-of-type(4) {
    background-color: rgb(204, 172, 66);
}

main ul:first-of-type li:nth-of-type(5) {
    background-color: rgb(248, 66, 66);
}

main ul:first-of-type li:nth-of-type(6) {
    background-color: rgb(255, 124, 189);
}

main ul:first-of-type li:nth-of-type(7) {
    background-color: rgb(226, 173, 173);
}

main ul:first-of-type li:nth-of-type(8) {
    background-color: rgb(96, 63, 172);
}

main ul:first-of-type li:nth-of-type(9) {
    background-color: rgb(173, 226, 193);
}

main ul:first-of-type li:nth-of-type(10) {
    background-color: rgb(187, 255, 0);
} */


 



