body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#545c8c;


}


header {
    background-image: url(img/jordan-whitfield-sm3Ub_IJKQg-unsplash.jpg);
    background-size:120vw;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 15vh;
    height: 80vmin;
    border-radius: 0 0 50em 0em ;

}


@media screen and (min-width: 1000px) {
    main { padding: 5em;
    }
}

@media screen and (max-width: 1000px) {
    main { padding: 1em;

}
}

p {
    text-align: center;
    color: white; 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #201c32;
    padding: 8vw;
    border-radius: 5em;
    

}

header h1 {
    margin: 0;
    color: white;
}

main ul {
    list-style: none;
    margin: 0;
    padding: 0;


    
}

main ul li{
    margin: 0;
    padding-left: 0;
    display:flex;  
}


main ul li h2 {
    color: white;
    position: absolute;
    font-size: 18px;
    
}


@media screen and (min-width: 800px) {
    p {
      font-size: 35px;
    }
  }

  @media screen and (min-width: 500px) {
    p {
     font-size: 25px;
   }
}


main ul li p {
    color: white;
    padding-right:5vw;
    padding-left:5vw;
    padding-top: 5em;
    padding-bottom: 5em;
    width: 100vw;


}

main ul li img {
    width: 50vmin;
    height: auto;
    object-fit:cover;
    padding-right: 0.5em;
    padding-bottom: 2em;
    filter: grayscale(100%);
    cursor: pointer;


}









/* ---------------------------------------- oud----------------------------------------------- */
 
/* main {
    height: 100vh;
    width: 100vw;
    overflow:hidden;
}
 
 h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    text-align: center;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    color:black;
}

h2 {
    font-size: 15px;
    padding-left: 2em;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}
 
 p { 
    color:white;
    font-size: 8vw;
    width: calc(50vw - 1.5em);
    height: auto;
    text-align:left;
    margin-left: 0.75em;
    margin-right: 0.75em;
}



 img {
    height: 50px;
    width:auto;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


main ul:first-of-type {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    width: 100vw;
    height: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding-inline-start: 1em;


}

main ul:first-of-type li {
    scroll-snap-align: start;
    width: 100%;
    height: 100%;
    padding-top: 5em;
    list-style-type: none;
 
}

main ul:first-of-type li:nth-of-type(1n) {
    background-image:url(img/joel-filipe-KZa4fREZoKk-unsplash.jpg) ;
    
    
}
main ul:first-of-type li:nth-of-type(2n) {
    background-image:url(img/kevin-borrill-7_N1zLrY7ns-unsplash.jpg);
}

main ul:first-of-type li:nth-of-type(3n) {
    background-image:url(img/maria-orlova-Q3Ea7QQQ6MA-unsplash.jpg);
}

main ul:first-of-type li:nth-of-type(4n) {
    background-image:url(img/matthew-mcbrayer-qD9xzm7yK9U-unsplash.jpg);
}
main ul:first-of-type li:nth-of-type(5n) {
    background-image:url(img/max-saeling-m8nRxnGFWVc-unsplash.jpg);
}


 


 */
