/* ---------------------------------body-------------------------------*/

body { 
    display:flex;
    height:100vh;
    justify-content: center;
    align-items: center;
}

/* ----------------------main----------------------------- */
main {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position:relative;
    background-image: url("img/thomas-vimare-IZ01rjX0XQA-unsplash.jpg");
    background-size:cover;
    border-style:solid;
    border-width: 3px;
    border-color:rgb(14, 14, 85);
    height: 7cm;
    width: 12cm;
    overflow:hidden; 
}

main > a   {
    position:absolute;
    width: 1.5em;
    height:1.5em;
    top:0.1em;
    left: 0.1em;;
    z-index:20;
    
}

main > a img {
    width: 100%;
    height: 100%;
}
p {
   font-size: 12px;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(34, 0, 66);
    text-align: center;
}
main p:first-of-type {
    position:absolute;
    top:2em;
    right: 100%;
    z-index:1;
    height:100%;
    width:15%;
}

main p:last-of-type{
    position: relative;
    top:2em;
    left: 100%;
    z-index:1;
    height:100%;
    width:15%;
}
main > img:first-of-type {
    position:absolute;
    bottom:0;
    left: calc(33%);
    z-index:1;
    height:100%;
    width:20%;
}

main > img:nth-of-type(2){
    position:absolute;
    bottom:0;
    right: calc(33%);
    z-index:1;
    height:100%;
    width:20%;
}

main > img:nth-of-type(3) {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    bottom: -2em;
    z-index: 1;
}

main > img:nth-of-type(4) {
    position:absolute;
    bottom:0;
    left: calc(36%);
    height:95%;
}

/* -------------------------animation boards------------------------------- */

@keyframes board1-animation {
    0% { transform: translate(-1, 0); }
    100% { transform: translate(-10em, 0); }
  }

  main:hover > img:first-of-type {
    animation-name:board1-animation;
    animation-duration:1s;
    animation-timing-function:ease-in-out;
    animation-fill-mode: forwards;
  }
  
  @keyframes board2-animation {
    0% { transform: translate(1, 0); }
    100% { transform: translate(10em, 0); }
  }
  

main:hover > img:nth-of-type(2) {
    animation-name:board2-animation;
    animation-duration:1s;
    animation-timing-function:ease-in-out;
    animation-fill-mode: forwards;

  }

/* -------------------------animation text------------------------------- */

@keyframes text1-animation {
    0% { transform: translate(0, 0); }
    100% { transform: translate(100%, 0); }
  }

  main:hover p:first-of-type {
    animation-name:text1-animation;
    animation-duration:1s;
    animation-timing-function:ease-in-out;
    animation-fill-mode:forwards;
  }
  
  @keyframes text2-animation {
    0% { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
  }
  

main:hover p:last-of-type {
    animation-name:text2-animation;
    animation-duration:1s;
    animation-timing-function:ease-in-out;
    animation-fill-mode: forwards;

  }